<div class="overlay"></div>

<div class="task-block" id="task">
   <h3 class="task-block__title">задание 1</h3>
   <div class="task-block__content">
       Приветствую вас на первом задании! 👋
       <br>
       Ваша задача: До 1 сентября осталась всего одна неделя, и вам необходимо подготовится к школе, приобрести все необнеходимые товары.
       Желаем удачи 😉
   </div>
   <button class="task-block__close"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>

<div class="task-block" id="instruction">
    <h3 class="task-block__title">Инструкция</h3>
    <div class="task-block__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veritatis libero doloribus velit quibusdam ipsum sit tenetur saepe sequi magnam. Cumque soluta ratione iste illo labore? Atque, ipsam iste architecto aut dolores laudantium, quo enim ratione sint error nobis temporibus. Reprehenderit possimus explicabo a quam laudantium officia tempora, eligendi dolore corrupti, rem earum ullam odit deserunt porro iure adipisci architecto cumque quas. Ullam dolore debitis quia, saepe quod deserunt dolores dolorum porro adipisci id accusantium maxime reiciendis aliquam architecto minus nesciunt animi similique ducimus dicta voluptate perferendis eaque? Reprehenderit similique nam quidem excepturi amet quaerat id ratione possimus libero explicabo!
    </div>
    <button class="task-block__close"><i class="fa fa-times" aria-hidden="true"></i></button>
 </div>